@font-face {
   font-family: 'If-yLO2';
   font-display: swap;
   src: url('If-yLO2/font.ttf');
}
@font-face {
   font-family: 'BasicFontRegular-GOOlD';
   font-display: swap;
   src: url('BasicFontRegular-GOOlD/font.ttf');
}
@font-face {
   font-family: 'LittleCupcakeRegular-6Yy0Y';
   font-display: swap;
   src: url('LittleCupcakeRegular-6Yy0Y/font.ttf');
}
