@font-face {
   font-family: 'BasicFontRegular-GOOlD';
   font-display: swap;
   src: url('file:///C:/Users/Flash/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-04_184018/fonts/BasicFontRegular-GOOlD/font.ttf');
}
