@font-face {
   font-family: 'LittleCupcakeRegular-6Yy0Y';
   font-display: swap;
   src: url('file:///C:/Users/Flash/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-04_184018/fonts/LittleCupcakeRegular-6Yy0Y/font.ttf');
}
